a {
  text-decoration: none;
}

div {
  text-align: center;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin: 5px !important;
}

.css-1t6e9jv-MuiCardActions-root {
  display: block !important;
}